.selected {
    font-size: x-large;
    font-weight: 700;
    td {
        border: 1px solid black;
    }
}

.instruction {
    font-weight: bold;
    font-size: xx-large;
    ul{
        font-weight: normal;
        font-size: large;
    }
}
