<br>
<div *ngIf="verbGroup$ | async as verbGroup" class="container">

    <div class="row">

        <div id="verb-group-{{verbGroup.id}}" class="verb-group col-12 col-xxl-6">

            <mat-card class="verb-group-card">

                <mat-card-title>
                    {{verbGroup.name}}
                </mat-card-title>
                <mat-card-content>

                    <p>{{verbGroup.description}}</p>
                    <hr>

                    <table style="background-color:white;border: 1px solid #cccccc;"
                        class="table table-striped table-bordered">
                        <thead>
                            <th> Spanish</th>
                            <th> English</th>
                        </thead>
                        <tbody>
                            <tr (click)="verbClick(verb)" *ngFor="let verb of verbGroup.verbList">

                                <td>

                                    {{verb.to}}
                                </td>
                                <td>
                                    {{verb.from}}
                                </td>

                            </tr>
                        </tbody>

                    </table>

                </mat-card-content>
            </mat-card>

        </div>


        <div *ngIf="verb" class="col-xxl-6">

            <app-tense-list>

            </app-tense-list>


        </div>

    </div>


</div>