<div class="container">

    <div class="row">

        <div class="col-12 col-sm-6 col-xxl-4">
            <!-- TODO  this needs to be a component-->
            <br>
            <mat-card style="background-color: #ffffe6;border: 1px solid black;">
                <mat-card-content>
                    <div style="height:200px">
                        <div *ngIf="verb">
                            <h1>{{verb.to | lowercase}}</h1>
                            <div class="sentence-to">
                                <span *ngIf="sentence">{{sentence.to}}</span>
                                <span *ngIf="!sentence"> &nbsp;</span>
                            </div>
                            <hr>
                            <div *ngIf="showTranslation">
                                <h1>{{verb.from | lowercase }}</h1>
                                <div class="sentence-from">
                                    <span *ngIf="sentence">{{sentence.from}}</span>
                                    <span *ngIf="!sentence"> &nbsp;</span>
                                </div>
                            </div>
                        </div>

                        <h2 *ngIf="!verb">Loading...</h2>
                    </div>
                </mat-card-content>
            </mat-card>

            <br>
            <div class="row">

                <div class="col-12 ">
                    <app-conjugation-card *ngIf="presentTense" [header]="'Present'" [tense]="presentTense">
                    </app-conjugation-card>
                    <br>
                </div>

                <div class="col-12 ">
                    <app-conjugation-card *ngIf="preteriteTense" [header]="'Preterite'" [tense]="preteriteTense">
                    </app-conjugation-card>
                    <br>
                </div>

            </div>
        </div>

        <!-- <div class="col-12 col-xxl-6">
            <mat-card>
                <mat-card-content>
                    <div *ngIf="sentenceList.length > 0">
                        <ul class="sentene" *ngFor="let s of sentenceList">
                            <li class="from"> {{s.to}}</li>
                        </ul>
                    </div>
                </mat-card-content>
            </mat-card>
        </div> -->


    </div>

    <br>

</div>