hr {
    margin-top: 6px;
    margin-bottom: 7px;
    border: 1px solid black;
}
.sentence-list {
    font-size: larger;
}

.sentence-spanish {
    font-weight: 550;
}

.sentence-english {
    font-weight: 400;
}

.is-not-implemented{
    color:red;
    font-size: medium;
    font-weight: 300;
}
