<div class="container" *ngIf="verbGroupList$ | async as verbGroupList">
    <br>
    <div id="verb-group-list" class="row">
        <div attr.data-test-id="verb-group-{{v.id}}" *ngFor="let v of verbGroupList" class="verb-group col-12 col-xxl-4">

            <mat-card class="verb-group-card">                
                <mat-card-title style="min-height:70px">
                    <a class="no-style-link" routerLink="/verb-group/{{v.id}}">{{v.name}}</a>
                </mat-card-title>
                <mat-card-content>

                    <p>{{v.description}}</p>
                    <hr>

                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip *ngFor="let verb of v.verbList |slice:0:4">{{verb.to}}</mat-chip>

                    </mat-chip-list>

                </mat-card-content>
            </mat-card>
            <br>

        </div>
    </div>
</div>