<mat-card class="conjugation-card">
    <mat-card-title>{{header}}</mat-card-title>
    <hr style="margin:1px 0px 5px 0px">

    <mat-card-content>

        <table class="conjugation-table card-table table table-striped table-bordered ">

            <thead>
                <tr>
                    <th colspan="2" class="pro-noun">Pronoun</th>
                    <th colspan="2" class="pro-noun">Pronoun</th>
                </tr>
            </thead>

            <tbody>
                <tr class="first-person">
                    <td style="width:20%" class="pro-noun">
                        yo
                    </td>
                    <td style="width:25%">
                        {{tense.fistPersonSingular.text}}
                    </td>

                    <td style="width:30%" class="pro-noun">
                        nosotros
                    </td>

                    <td style="width:25%">
                        {{tense.fistPersonSingular.text}}
                    </td>
                </tr>

                <tr class="second-person">
                    <td class="pro-noun">
                        tu
                    </td>
                    <td>
                        {{tense.secondPersonSingular}}
                    </td>

                    <td class="pro-noun">
                        vosotros,vosotras
                    </td>


                    <td>
                        {{tense.secondPersonPlural}}
                    </td>
                </tr>

                <tr class="third-person">
                    <td class="pro-noun">
                        el, ella, usted
                    </td>
                    <td>
                        {{tense.thirdPersonSingular}}
                    </td>

                    <td class="pro-noun">
                        ustedes, ellos,ellas
                    </td>

                    <td>
                        {{tense.thirdPersonPlurual}}
                    </td>
                </tr>

            </tbody>

        </table>        

    </mat-card-content>
</mat-card>