.conjugation-card {
    font-size: 1.8rem !important;
    background-color: #f2f2f2;
    border: 1px solid black;
}

.mat-card-content {
    font-size: 1.3rem;
}

.conjugation-table {
    .pro-noun {
        font-size: smaller;
        font-weight: 200;
    }
    tbody {
        font-weight: 500;

        a {
            text-decoration: underline;
            color: black;
        }

        a:hover {
            text-decoration: none;
        }
    }

    thead {
        .pro-noun {
            font-size: smaller;
            font-weight: 200;
        }
    }
}
