/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-style-link {
    text-decoration: none;
    color: black;
}


.verb-group-card{
    background-color: #ffffe6;
    border:1px solid #cccccc;
}
