.sentence
{
    background-color: white;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
}

.spanish {
    font-size: x-large;
    font-weight: 400;
    margin-bottom:5px;
}

